* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  z-index: 10;
}

header {
  position: sticky;
  top: 0;
  padding: 1.2rem 0;
  background-color: rgb(252, 214, 24);
  width: 100%;
}

h1 {
  font-size: 3.5rem; 
}

/***************************************************************************APARTADO DEL NAV************************************************************************************/
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  background-color: rgba(0, 0, 0, .8);
  height: 100%;
  width: 100%;
  z-index: 998;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 0.3s ease-in;
}

.display {
  transform: translate(0, 0);
}

.nav ul {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav li:hover {
  background-color: rgb(252, 214, 24);
 
}

.nav ul li {
  overflow: auto;
  list-style-type: none;
  width: 100%;
  transition: 0.1s ease-in;
}

.nav a {
  display: block;
  padding: 4rem 0;
  color: rgb(252, 214, 24);
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  text-decoration: none;
}

.nav a:hover {
   color: rgb(0, 0, 0);
}

/*************************************************************************APARTADO DEL SECTION*********************************************************************/
section {
  margin: 0 auto;
  font-size: 2.5rem;

  padding-top: 7rem;

  height: 100vh;
  border-bottom: #000;
}


section h2 {
  font-size: 3rem;
}

section h3 {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.clock {
  margin: 1.5rem ;
}

.clock button {
  font-size: 1.5rem;
  background-color: #ddd;

  border-radius: 5px;
  padding: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;

  cursor: pointer;
}

.clock button:hover {
  background-color: rgb(252, 214, 24);
}

.clock button:active {
  background-color: #ddd;
}

/************************************************************APARTADO DEL SECTION 1***********************************************************************/
.digital-clock {
  margin-top: 1rem;
}

.digital-clock span {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
}

/************************************************************APARTADO DEL SECTION 3***********************************************************************/

 .countDown  {
  display: block;
  padding-top: 2rem;
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

/************************************************************APARTADO DEL SECTION 4***********************************************************************/

.section-4 *, .form-emergy-window, .form-emergy-window > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4 a, .section-8 a {
  font-weight: 600;
  font-size: 2rem;
  color: rgb(252, 214, 24);
}

.section-4 a:hover, .section-8 a:hover {
  color: rgb(0, 0, 0)
}

.section-4 div {
  margin-top: 3rem;
}

/************************************************************APARTADO DEL SECTION 5***********************************************************************/

.form-emergy-window > form {
  min-width: 300px;
  width: 60%;
  margin-top: 2rem;
  padding: 2rem;
  background-color: rgb(252, 214, 24);
  border-radius: 5px;
}

.form-emergy-window label {
  margin-top: 1rem;
  font-size: 2rem;
}

.form-emergy-window input[type="submit"], .form-emergy-window input[type="button"] {
  font-size: 1.5rem;
  font-weight: 600;
  width: 80%;
  margin-top: 2rem;
  margin-right: 1.5rem;
  padding: .5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease-in; 
}

.form-emergy-window input[type="submit"]:hover , .form-emergy-window input[type="button"]:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.btn-open-close-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: inherit;
}


/************************************************************APARTADO DEL SECTION 6*********************************************************************************/

.section-6 ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.section-6 li, .section-6 b {
  font-size: inherit;
}

.section-6 p {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: rgb(216, 180, 0);
}


/************************************************************APARTADO DEL SECTION 7*********************************************************************************/

.section-7 div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************************************************APARTADO DEL SECTION 8*********************************************************************************/

.section-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-8 ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.section-8 li {
  font-size: inherit;
  margin-top: .5rem;
  list-style-type: none;
}

/************************************************************ETIQUETAS QUE COMPARTEN VALORES***********************************************************************/
h1, h2, h3 {
  text-align: center;
}

/*****************************************************************APARTADO DEL BTN-BURGUER*************************************************************************/

.hamburger {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: rgb(252, 214, 24);
  height: 5rem;
  width: 5rem;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  /*background-color: transparent;*/
  border: 0;
  border-radius: 50%;
  margin: 0;
  overflow: visible;
  z-index: 999;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  margin-left: -6.5px;
  margin-top: -4px;
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  /*margin-top: -2px;*/
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 33px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}


/**********************************************btn-Burguer-Spin***********************************************************/

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*****************************************************************APARTADO DEL ARROW-TOP*************************************************************************/

.arrowTop {
  position: fixed;
  bottom: 5px;
  right: 70px;
  width: 5rem;
  height: 5rem;
  background-color: rgb(252, 214, 24);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: none;
  z-index: 997;
  overflow: visible;
  opacity: 0;
  transition: all .3s ease-in;
}
.arrowTop.active {
  opacity: 1;
  pointer-events: auto;
}

.arrowTop.active:hover {
  opacity: .7;
}

.arrow {
  font-size: 35px;
  color: rgb(0, 0, 0);
}

/*****************************************************************APARTADO DEL BTN-DARK-MODE*************************************************************************/

.btn-dark-mode {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: rgb(252, 214, 24);
  cursor: pointer;
  transition: all .3s ease-in;
}

.btn-dark-mode:hover {
  opacity: .7;
}

.btn-dark-mode i {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.dark {
  background-color: rgba(0, 0, 0, .9);
  color: rgb(255, 255, 255);
}

.dark a:hover {
  color: rgb(255, 255, 255);
}

/*****************************************************************APARTADO DEL ESTADO DE CONECCIÓN*************************************************************************/
.conection {
  position: fixed;
  top: -10;
  height: 2rem;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  z-index: 998;
}

.online {
  background-color: rgb(20, 23, 20);
  animation: stateConnection 1s ease reverse;
  animation-delay: 1s;
}

.offline {
  background-color: rgb(204, 51, 0);
  animation: stateConnection .5s ease;
}

@keyframes stateConnection {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}