* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  z-index: 10;
}

header {
  position: sticky;
  top: 0;
  padding: 1.2rem 0;
  background-color: rgb(252, 214, 24);
  width: 100%;
}

h1 {
  font-size: 3.5rem; 
}

/***************************************************************************APARTADO DEL NAV************************************************************************************/
nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  background-color: rgba(0, 0, 0, .8);

  width: 100%;
  transform: translate(0, 50);
  z-index: 998;
  transform: translate(0, 100%);
  transition: transform 0.3s ease-in;
}

.display {
  transform: translate(0, 0);
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav li:hover {
  background-color: rgb(252, 214, 24);
 
}

nav ul li {
  list-style-type: none;
  width: 100%;
  transition: 0.1s ease-in;
}

nav a {
  display: block;
  padding: 4rem 0;
  color: rgb(252, 214, 24);
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
   color: rgb(0, 0, 0);
}

/*************************************************************************APARTADO DEL SECTION*********************************************************************/
section {
  margin: 0 auto;
  font-size: 2.5rem;

  padding-top: 7rem;

  height: 100vh;
  border-bottom: #000;
}


section h2 {
  font-size: 3rem;
}

section h3 {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  margin: 1.5rem ;
}

.clock button {
  font-size: 1.5rem;
  background-color: #ddd;

  border-radius: 5px;
  padding: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;

  cursor: pointer;
}

.clock button:hover {
  background-color: rgb(252, 214, 24);
}

.clock button:active {
  background-color: #ddd;
}

/************************************************************APARTADO DEL SECTION 1***********************************************************************/
.digital-clock {
  margin-top: 1rem;
}

.digital-clock span {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
}

/************************************************************APARTADO DEL SECTION 3***********************************************************************/

 .countDown  {
  display: block;
  padding-top: 2rem;
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}


/************************************************************ETIQUETAS QUE COMPARTEN VALORES***********************************************************************/
h1, h2, h3 {
  text-align: center;
}

/*****************************************************************APARTADO DEL BTN-BURGUER*************************************************************************/

.hamburger {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: rgb(252, 214, 24);
  height: 5rem;
  width: 5rem;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  /*background-color: transparent;*/
  border: 0;
  border-radius: 50%;
  margin: 0;
  overflow: visible;
  z-index: 999;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  margin-left: -6.5px;
  margin-top: -4px;
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  /*margin-top: -2px;*/
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 33px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}


/**********************************************btn-Burguer-Spin***********************************************************/

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}